.circulo {
    border-radius: 50%;
}

.container {
    margin-top: 3%
}

.my-auto {
    align-content:center;
}

body {
    background-image: url("./assets/bg.svg");
    height: 100vh;
}

.contact {
    background-color: #120501;
}