img {
    max-height: 200px;
    max-width: 200px;
    margin-top: 20px;
}

.circulo {
    border-radius: 50%;
}

.container {
    margin-top: 3%
}

.my-auto {
    align-content:center;
}

body {
    background-image: url("./assets/bg.svg");
    background-repeat: no-repeat;
}

.contact {
    background-color: #120501;
}